body {
  font-family: Manrope;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #3470ff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0b44cd;
}
